<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/css/form.css"/>
    <script defer src="/assets/js/scripts.js"></script>
    <title>Save contact</title>
</head>
<body>
<h1>Save contact</h1>
<p id="message" >Пожалуйста, заполните все поля формы!</p>
<form action="/save" method="post" onsubmit="return is_valid()">
    <input type="hidden" name="id" th:value="${contact.id}">
    <div>
        <label for="firstName">First name:</label>
        <input type="text" placeholder="first name" id="firstName" name="firstName" required th:value="${contact.firstName}">
    </div>
    <div>
        <label for="lastName">Last name:</label>
        <input type="text" placeholder="last name" id="lastName" name="lastName" required th:value="${contact.lastName}">
    </div>
    <div>
        <label for="email">Email:</label>
        <input type="text" placeholder="email" id="email" name="Email" required th:value="${contact.email}">
    </div>
    <div>
        <label for="phone">Phone:</label>
        <input type="text" placeholder="phone" id="phone" name="Phone" required th:value="${contact.phone}">
    </div>
    <button type="submit">save</button>
</form>
</body>
</html>